#suggest-plan{
  border: 1px solid #E1E1E1;
  position: fixed;
  top: 60px;
  left: 60px;
  background-color: #FFFFFF;
  width: 250px;
  height: 450px;
  box-shadow: 0 5px 4px 5px #e1e1e1;
  padding: 8px;
}