.add-plan{
  border: 1px solid #E1E1E1;
  position: fixed;
  top: 60px;
  left: 60px;
  background-color: #FFFFFF;
  width: 250px;
  height: 450px;
  box-shadow: 0 5px 4px 5px #e1e1e1;
  padding: 8px;

  .form-question {
    p {
      margin-bottom: 0;
    }
    input{
      border-radius: 4px;
      border: 1px solid #E1E1E1;
      &:focus{
        outline: none;
        border: 1px solid #1d72f1;
      }
    }
    textarea{
      width: 200px;
      resize: none;
      border-radius: 4px;
      border: 1px solid #E1E1E1;
      &:focus{
        outline: none;
        border: 1px solid #1d72f1;
      }
    }
  }

  .footer {
    margin-top: 20px;
    button{
      background-color: #FFFFFF;
      color: #1d72f1;
      border: 1px solid #1d72f1;
      border-radius: 4px;
      padding: 4px 12px;
      margin-left: 12px;
    }
  }
}